##----------------------------------------------------------------------------------------
##-- file   > $XDG_CONFIG_HOME/dotfiles/i3/blocks.config                                --
##-- author > ygoreus                                                                   --
##-- vim: set rnu nu ai et ts=4 sw=4 ft=i3blk syn=i3blk :                               --
##----------------------------------------------------------------------------------------
##-- For references visit (https://github.com/vivien/i3blocks/wiki/Writing-Your-Own-Blocklet)
##-- BOF

##-- Set the default values for the blocks
command=$HOME/.etc/dotfiles/i3/blocks/$BLOCK_NAME
separator_block_width=2
separator=false
markup=pango
align=right
interval=once

##-- currently focused window
#[block]
#[focused]
#interval=2

##-- mpd status
[block]
[mpd]
interval=1
min_width=1:11 / 1:11
[block]
[mpd_prev]
[mpd_stat]
[mpd_next]

##-- conky toggle
#[block]
#[conky]
#min_width=1

##-- compton toggle
#[block]
#[compton]
#min_width=1

##-- repo updates
#[block]
#[repo_updates]
#min_width=1

##-- cpu temps
[block]
[cpu_temp]
interval=3
min_width=00-%

##-- weather
#[block]
#[weather]
#interval=3600
#signal=23

##-- brightness level
[block]
[brightness]
signal=11
min_width=00%

##-- volume level
[block]
[volume]
signal=10
min_width=00%

##-- battery level
[block]
[battery]
interval=1
min_width=1

##-- date
[block]
[date]
interval=1
min_width=AAA, AA AAA AA

##-- time
[block]
[time]
interval=1
min_width=00:00

##-- system tray
[block]

##-- EOF
